vti_encoding:SR|utf8-nl
vti_author:SR|OPALDEV\\Rafal
vti_modifiedby:SR|OPALDEV\\Rafal
vti_timelastmodified:TR|28 Sep 2007 11:55:05 -0000
vti_timecreated:TR|18 Sep 2007 16:12:03 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|facilities/facilities.htm information_links/information_links.htm master.dwt contact/contact.htm whoswho/whoswho.htm special_events/special_events.htm newsletters/newsletters.htm default.htm sessions/sessions.htm term_dates/term_dates.htm
vti_nexttolasttimemodified:TW|28 Sep 2007 11:44:25 -0000
vti_cacheddtm:TX|28 Sep 2007 11:55:05 -0000
vti_filesize:IR|2328
vti_cachedlinkinfo:VX|S|layout.css S|../images/background.gif S|../images/masthead.gif
vti_cachedsvcrellinks:VX|FSUS|styles/layout.css FSUS|images/background.gif FSUS|images/masthead.gif
